@import "tailwindcss";

@theme {
  --color-brand: var(--brand-color);
  --color-brand-hover: var(--brand-hover-color);
}

:root {
  --brand-color: #035c19; /* default blue-600 */
  --brand-hover-color: #018024; /* default blue-500 */
}
